@using PentiaCodeTest.Models
@model PentiaCodeTest.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-3 col-sm-3 col-xl-3" style="max-width: 300px">
    @Html.Partial("_CustomerSearchForm", Model)
</div>
<div class="col-md-9 col-sm-9 col-xs-9">
    <div id="customerlist" class="row">
        @Html.Partial("_CustomerList", Model);
    </div>
</div>
@section Scripts {
    <script>
        function FillCarModel() {
            var makeId = $('#CustomerSearchModel_CarMakeId').val();
            $.get('/Home/CarModels', { carMakeId: makeId })
                .done(function(response) {
                    $('#CustomerSearchModel_CarModelId').html('');
                    $.each(response, function(i, model) {
                        $('#CustomerSearchModel_CarModelId').append(
                            $('<option></option>').val(model.Id).html(model.Name)
                        );
                    });
                });
        }
    </script>
}